<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <parameter name="browser" value="edge"></parameter>
    <test name="edgeTest">
    <classes>
        <class name="com.automation.Testcases.BookFlight">
        </class>
    </classes>
</test>
</suite>